
body{
    margin: 0;
    
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

*{
    font-family: brandon-grotesque,
    sans-serif;
    font-weight: 700 ;

}
main {
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    

}
header {
    background: rgba(68, 66, 66, 0.95) ;
    grid-column: 2 / span 5;
    font-size: 15px;
    padding: 32px;
    margin-bottom: 350px;
    margin-right: 100px;
    border-radius: 30px;

}
section {
    grid-column: 2 / 8;
    padding: 10px;
    background: rgba(68, 66, 66, 0.95);
    font-size: 20px;
    line-height: 2.5;
    margin-bottom: 400px;
    border-radius: 30px;
}
.left {
    grid-column: 6 / 12;
}